<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=.5">
	</head>
	<body>
		<header class="pizza_heading">
    		<h1>Welcome to Varney's Pizza Place</h1>
   			<p>Confirm Your Order Below</p>
    	</header>
    	<div class="confirm_delivery">
			<%if delivery1 == 2 && zip != "25601"%>
				<h2>No delivery to that area.</h2> 
				<h2>Please pick-up in store.</h2>
			<%elsif delivery1 == 2 && zip == "25601"%>
				<h2>Delivery Order Details:</h2>
			<%else%>
				<h2>Pick-up Order Details:</h2>
			<%end%>
			<h2><%=name%></h2>
			<h3><%=address%></h3>
			<h3><%=zip%></h3>
			<h3><%=phone%></h3>
			<h3><%=email%></h3>
				<%if more_pizza.to_i == 0%>		
					<h2>Pizza Cost: $<%=pizza_cost%></h2>
				<%else%>
					<h2>Pizza <%=more_pizza.to_i + 1%> Cost: $<%=pizza_cost%></h2>
				<%end%>
			<%sub_total = total_cost.to_f + pizza_cost.to_f%>
				<%if sub_total.to_s.split('')[-2] == "."%>
					<%sub_total = sub_total.to_s.split('') + ["0"]%>
					<%sub_total = sub_total.join%>
				<%end%>
			<h2>Total Due: $<%=sub_total%></h2><br>
			<div class="button_box">
				<input class="submit_button2" type="button" value="Change Order" onclick="history.back(-1)" />
				<form id="more_form" method="post" action="confirmation_page">
					<input type="hidden" name="pizza_cost" value="<%=pizza_cost%>">
					<input type="hidden" name="page" value="1">
					<input type="hidden" name="more_pizza1" value=1>
					<input class="submit_button2" type="submit" value="Add to Order">
				</form>
				<form id="done_form" method="post" action="confirmation_page">
					<input type="hidden" name="pizza_cost" value="<%=pizza_cost%>">
					<input type="hidden" name="page" value="0">
					<input type="hidden" name="more_pizza1" value=1>
					<input class="submit_button2" type="submit" value="Check Out">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h2>Size: <%=size.capitalize%></h2>
					<%if crust == "hand_tossed"%>
						<p>Hand Tossed</p>
						<img src="/images/hand_tossed.png"><br>
					<%elsif crust == "thin_and_crispy"%>
						<p>Thin and Crispy</p>
						<img src="/images/thin_crispy.png"><br>
					<%elsif crust == "pan"%>
						<p>Pan</p>
						<img src="/images/pan_crust.png"><br>
					<%elsif crust == "stuffed_crust"%>
						<p>Stuffed Crust</p>
						<img src="/images/stuffed_crust.png"><br>
					<%end%>			
					<%if sauce == "classic"%>
						<p>Classic Sauce</p>
						<img src="/images/classic_sauce.png"><br>
					<%elsif sauce == "garlic_parmesan"%>
						<p>Garlic Parmesan</p>
						<img src="/images/garlic_parmesan.png"><br>
					<%elsif sauce == "barbecue"%>
						<p>Barbecue Sauce</p>
						<img src="/images/barbeque.png"><br>
					<%elsif sauce == "buffalo"%>
						<p>Buffalo Sauce</p>
						<img src="/images/buffalo.png"><br>
					<%end%>
				<%unless cheese == 0%>
					<p>Added Extra Cheese</p>
					<img src="/images/extra_cheese.png">
				<%end%>
			</div>
			<div class="column float_left">
				<h2>Veggies</h2>
				<%if veggies.include?("mushrooms,")%>
					<p>Mushrooms</p>
					<img src="/images/mushrooms.png"><br>
				<%end%>
				<%if veggies.include?("banana_peppers,")%>
					<p>Banana Peppers</p>
					<img src="/images/banana_peppers.png"><br>
				<%end%>
				<%if veggies.include?("onions,")%>
					<p>Onions</p>
					<img src="/images/onions.png"><br>
				<%end%>
				<%if veggies.include?("tomatoes,")%>
					<p>Tomatoes</p>
					<img src="/images/tomatoes.png">
				<%end%>	
			</div>	
			<div class="column">
				<h2>Meats</h2>
				<%if meats.include?("pepperoni,")%>
					<p>Pepperoni</p>
					<img src="/images/pepperoni.png"%><br>
				<%end%>
				<%if meats.include?("sausage,")%>
					<p>Sausage</p>
					<img src="/images/sausage.png"%><br>
				<%end%>
				<%if meats.include?("ham,")%>
					<p>Ham</p>
					<img src="/images/ham.png"%><br>
				<%end%>
				<%if meats.include?("bacon,")%><br>
					<p>Bacon</p>
					<img src="/images/bacon.png"%>
				<%end%> 
			</div>
		</div>
	<body>
<html>